* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 1080px;
    margin: 0 auto;
    &.auto {
        width: auto;
    }
    &:before, &:after {
        content: '';
        display: table; 
    }
    &:after {
        clear:both;
    }
}

.clearfix {
    @extend .wrapper;
    width: auto;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 10px 0;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.75em;
}

h3 {
    font-size: 2.5em;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
}

h6 {
    font-size: 1.25em;
}

p {
    margin: 7px;
    line-height: 22px;
}

.button {
    padding: 10px 15px;
    outline: none; 
    cursor: pointer;
    border-radius: 3px;
    border: 0;
    color: #fff;
    &.green {
        background-color: #55C87F;
    }
    &.red {
        background-color: #CB4646;
    }
    &.yellow {
        background-color:#EAD159;
    }
    &.blue {
        background-color: #2666A8;
    }
}

.row {
    @extend .clearfix;
    margin: 10px 0;
    &.pure {
        margin:0;
    }
}

[class^="grid-"] {
    position: relative;
    padding: 0 10px;
    float: left;
}

.grid-12 {
    width: 100%;
}

.grid-11 {
    width: calc(100%/12 * 11)
}

.grid-10 {
    width: calc(100%/12 * 10)
}

.grid-9, .grid-quarter-to {
    width: 75%;
}

.grid-6 {
    width: 50%;
}

.grid-3, .grid-quarter-past {
    width: 25%;
}

.grid-2 {
    width: calc(100%/12 * 2);
}

.grid-1 {
    width: calc(100%/12)
}