
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import url('https://fonts.googleapis.com/css?family=Kanit:300,300i,400,400i,500,500i,600');

// Variables
@import "variables";

// Bootstrap
// @import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import '../bower/css-reset/reset.css';
@import 'blacknight';
@import 'header';

html,body {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 100%;
    color: #fff;
    background: url('../images/IMG_9487.jpg') no-repeat center;
    height:100%;
    background-size:cover;
}

#app {
    position: relative;
    height: 100%;
}